{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Değerler</title>
	<link rel="stylesheet" href="{% static 'CSS/dizayn_grafik.css' %}">
	<link rel="icon" href="{% static 'if_Programming_Development_analysis_1743801.ico' %} " type="image/x-icon"/>
</head>
<body>
	<button class="home" type="submit" onClick="location.href='../..'"
	value="Submit"><img src="{% static 'ICO/if_Location_08_1530086.ico' %} " width="30" height="30" alt=""/><b><font size="2">Anasayfa</font></b></button>
	
	<button class="sec2" type="submit" onClick="location.href='../'"
	value="Submit"><img src="{% static 'ICO/if_chart_514935.ico' %}" width="30" height="30" alt=""/><b><font size="2">Analiz</font></b></button><br></br>
    <p>Grafikler</p>

    <img src="{% static 'images/resim2.png' %}">

</body>
</html>