#mapAylik {
	height: 250px;
	width: 350px;
	float: left;
  	padding: 25px;
	margin-top: : 15px;
}

#aylikGrafik{
	height: 600px;
	width: 900px;
	left: 0px;
  	padding: 5px;
}

#row{
	
  	display: flex;
}