{% load static %}

{# Renkli harita #}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions Service</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #00aa88;
        padding: 5px;
        border: 1px solid #491217;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {lat: 41.0082, lng: 28.9784}
        });
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);
        var kucuk;
        var myRoutes = [];
        var myOrigins = [];
        var myDest = [];
        var requestArray = [];

        /*
            var polylineOptionsActual = {
                strokeColor: '#FF0000',
                strokeOpacity: 0.6,
                strokeWeight: 5
            };
        */

        /*
            var directionsDisplayActual = new google.maps.DirectionsRenderer({
                suppressMarkers: true,
                polylineOptions: polylineOptionsActual
            });
        */

        //directionsDisplayActual.setMap(map);


        //function calculateAndDisplayRoute(directionsService, directionsDisplay) {

            var a = 0;
            var checkboxArray1 = [];
            var checkboxArray2 = [];
            var waypts = [];
            var hizlar = [];
            var renkler = [[]];
            var renderArray = [];
            var colourArray = [];
            var color = ['#22FF31', '#FF0000'];
            // basbitKoorRenkKodu = [ [ ID1x, ID1y, hiz1, ID2x, ID2y, hiz2], [ ID5x, ID5y, hiz5, ID6x, ID6y, hiz6, ID7x, ID7y, hiz7] ]
            var route = 0;
            var KoorVeHizList=[];
            requestArray = [];
            // KoorVeHiz = [ ID1x, ID1y, hiz1, ID2x, ID2y, hiz2]
            {% for KoorVeHiz in basbitKoorRenkKodu %}
                //console.log( '{{ KoorVeHiz }}' )
                innerHizlar = [];
                KoorVeHizList = [];
                var innerIndex = 0;

                // koorVeyaHiz = ID1x veya ID1y veya hiz1
                {% for koorVeyaHiz in KoorVeHiz %}
                    // KoorVeHizList = [ x1,y1,hiz1, x2,y2,hiz2, ... ]
                    KoorVeHizList[innerIndex] = '{{ koorVeyaHiz }}';
                    innerIndex += 1;
                {% endfor %}

                waypts = [];
                //hizlar[route] = innerHizlar;

                // Sadece 1 nokta geldiyse calismasin, cunku o zaman baslangic ve bitis noktalari ayni nokta oluyor.
                // Edit: Gelen butun noktalarin uzunlugu 3'ten buyuktur.
                if (KoorVeHizList.length>3) {
                    console.log("KoorVeHizList.length: "+KoorVeHizList.length);
                    for (i = 0; i < KoorVeHizList.length; i = i + 3) {
                        var nokta = new google.maps.LatLng(KoorVeHizList[i], KoorVeHizList[i+1]);
                        waypts.push({
                            location: nokta,
                            stopover: true
                        });
                        // innerHizlar = [hiz1, hiz2, hiz3, ...]
                        innerHizlar[i / 3] = KoorVeHizList[i + 2];
                    }
                    hizlar[route] = innerHizlar;
                    console.log("royte: "+ hizlar[route]);

                    start = waypts.shift().location;

                    finish = waypts.pop().location;

                    var request = {
                        origin: start,
                        destination: finish,
                        waypoints: waypts,
                        travelMode: google.maps.TravelMode.DRIVING
                    };

                    requestArray.push({"route": route, "request": request});
                    route += 1;
                }

            {% endfor %}

             for (var i=0; i<hizlar.length; i++){
                 var bos = [];
                 renkler[i] = bos;
             }
             console.log("hizlar.length: "+ hizlar.length);

            for (var i=0; i<hizlar.length; i++){
                console.log("hizlar[i]: "+ hizlar[i]+" "+ i);
                for (var j=0; j<hizlar[i].length; j++){
                    //console.log(hizlar[i][j]+" "+i+" "+j);
                    if (hizlar[i][j]>45){
                        //console.log('if');
                        renkler[i][j]= '#22FF31';
                    }else{
                        //console.log('else');
                        renkler[i][j] = '#FF0000';
                    }
                }
            }

            var ilkSayi, ikinciSayi;

            console.log("reqArr: "+ requestArray);

              function calc(){
                  var indx = 0;

                  function submitRequest(indx) {
                      console.log("index:"+ indx);
                      directionsService.route(requestArray[indx].request, directionResults);
                  }

                  function directionResults(result, status) {
                      // result = response
                      if (status == google.maps.DirectionsStatus.OK) {

                          var mesafe = result.routes[0].legs[0].distance.value;
                          console.log(mesafe);
                          // Create a unique DirectionsRenderer 'i'
                          // renderArray[i] = directionsDisplay
                          console.log("index2:"+ indx);
                          renderArray[indx] = new google.maps.DirectionsRenderer();

                          /* bunu ekleyince her bir vSegID icin marker ve adres bilgisi ekliyor. */
                          //renderArray[i].setMap(map);


                          // Some unique options from the colorArray so we can see the routes
                          //console.log("hizlar: "+hizlar);

                          var bos = [];
                          var renkler = [];
                          var i;
                          for (i=0; i<hizlar.length; i++){
                              renkler[i] = bos;
                          }

                          for (i=0; i<hizlar.length; i++){
                              for (j=0; j<hizlar[i].length-1; j++){

                                  ilkSayi = parseInt(hizlar[i][j],10);
                                  ikinciSayi = parseInt(hizlar[i][j+1],10);

                                  if ( (ilkSayi+ikinciSayi)/2 <59 ){
                                      renkler[i][j] = '#FF0000';
                                  }
                                  else{
                                      renkler[i][j] = '#22FF31';
                                  }
                              }
                          }


                          renderArray[indx].setOptions({
                              /* alttaki satiri ekleyince haritadaki renkler ortadan kalkiyor,
                               * ama kaldirinca da en sonuncu sirali liste haritada gosteriliyor, oncekiler kalkiyor */
                              /* !!! ustte yazanlar dogru degil !!! */
                              //directions: result,
                              //strokeColor: renkKodu
                          });

                          var rota = result.routes[0];
                          console.log("rota: "+rota);
                          renderDirectionsPolylines(result, map, renderArray[indx], renkler[indx]);
                          /*renderArray[i].setOptions({
                              preserveViewport: true,
                              suppressInfoWindows: true,
                              polylineOptions: {
                                  strokeWeight: 4,
                                  strokeOpacity: 0.8,
                                  strokeColor: renkKodu
                              },
                              markerOptions: {
                                  icon: {
                                      path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                                      scale: 3,
                                      strokeColor: '#FF0000'
                                  }
                              }
                          });*/


                          // Use this new renderer with the result

                          /* !!! ne ise yaradigina sonra bak !!! */
                          // renderArray[i].setDirections(result);
                          // and start the next request

                          /* bir sonraki sirali listeye gecmemizi sagliyor */
                          nextRequest();
                      }
                      else{
                          /* hatayi ekrana yazdirir */
                          //console.log(status, i);

                          /* bir sonraki sirali listeye gecmemizi sagliyor */
                          nextRequest();
                      }

                  }

                  function nextRequest() {
                      // Increase the counter
                      indx = indx + 1;
                      // Make sure we are still waiting for a request
                      if (indx >= requestArray.length) {
                          // No more to do
                          return;
                      }
                      // Submit another request
                      submitRequest(indx);
                  }

                  var polylineOptions = {
                      strokeColor: '#C83939',
                      strokeOpacity: 1,
                      strokeWeight: 4
                  };
                  var colors = ["#FF0001", "#00FF40", "#ff7841", "#f231ff", "#F100FF", "#30ff56", "#30ff56", "#30ff56", "#FF0001", "#00FF40", "#ff7841", "#f231ff", "#F100FF", "#30ff56", "#30ff56", "#30ff56", "#FF0001", "#00FF40", "#ff7841", "#f231ff", "#F100FF", "#30ff56", "#30ff56", "#30ff56", "#FF0001", "#00FF40", "#ff7841", "#f231ff", "#F100FF", "#30ff56", "#30ff56", "#30ff56", "#FF0001", "#00FF40", "#ff7841", "#f231ff", "#F100FF", "#30ff56", "#30ff56", "#30ff56", "#FF0001", "#00FF40", "#ff7841", "#f231ff", "#F100FF", "#30ff56", "#30ff56", "#30ff56"];
                  var polylines = [];
                  function renderDirectionsPolylines(response, map, rend, renklerDizisi) {
                      var bounds = new google.maps.LatLngBounds();

                      for (var i = 0; i < polylines.length; i++) {
                          //polylines[i].setMap(null);
                          // polylines[i].setMap(response);
                      }

                      /* sirali olarak gelen noktanin 1 eksigi kadar legs vardir */
                      var legs = response.routes[0].legs;
                      console.log("legs.length: "+legs.length);
                      for (i = 0; i < legs.length; i++) {
                          var steps = legs[i].steps;
                          for (j = 0; j < steps.length; j++) {
                              var nextSegment = steps[j].path;
                              var stepPolyline = new google.maps.Polyline(polylineOptions);
                              stepPolyline.setOptions({
                                  strokeColor: renklerDizisi[i],
                                  strokeOpacity: 1
                              });
                              for (k = 0; k < nextSegment.length; k++) {
                                  stepPolyline.getPath().push(nextSegment[k]);
                                  bounds.extend(nextSegment[k]);
                              }
                              polylines.push(stepPolyline);
                              stepPolyline.setMap(map);
                              // route click listeners, different one on each step
                          }
                      }
                      map.fitBounds(bounds);
                      rend.setMap(map);
                  }


                  submitRequest(indx);
              }

              calc();



        //}

        //calculateAndDisplayRoute(directionsService, directionsDisplayActual);

        /*
          function calculateAndDisplayRoute1(directionsService, directionsDisplay) {
              directionsService.route({
                    origin: myOrigins,
                    destination: myDest,
                    optimizeWaypoints: true,
                    travelMode: 'DRIVING'
                  }, function(response, status) {
                    if (status === 'OK') {
                      directionsDisplay.setDirections(response);
                      var route = response.routes[0];
                      // For each route, display summary information.
                      var yolUzunlugu = route.legs[0].distance.value;
                      if (yolUzunlugu<=2000){
                          kucuk=1;
                          window.alert(yolUzunlugu);
                      }
                      else{
                          kucuk = 1;
                          window.alert(yolUzunlugu+'elayani');
                      }
                    }
                    else {
                      //window.alert('Directions request failed due to ' + status);

                    }

              });
          }

        */


      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiLaYpd0zx4HfjULaOVcgxVpQMuKNmD04&callback=initMap">
    </script>
  </body>
</html>