{% load static %}

{# Ana sayfa #}

<!doctype html>
<html>
    <head>
         <title>Trafik Nerede</title>



        <!-- Sayfanın ilkellikten kurtulması için kullanılır. Temel HTML kısmında containerları falan görmek istersek bu satırı
         yorum satırı yapabilirsin. -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

        <!-- saate tıklarken farenin okken parmak olmasını sağlar(?) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

        <!-- Jquery kodlarının çalışması için kullanılıyor -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Tablar ve piller arası geçiş için olmazsa olmaz -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Datetimepicker için olmazsa olmazlar -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <!-- Takvimin düzgün gözükmesini sağlar -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- datepicker'ın çalışmasını sağlar -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- sweetalert -->        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

         <script src="{% static 'JS/script.js' %}"></script>
         <link rel="stylesheet" href="{% static 'CSS/dizayn_home.css' %}">
         <link rel="icon" href="{% static 'ICO/if_traffic-light_27268.ico' %}" type="image/x-icon"/>
         <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->


         <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
         <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->



    </head>
    <body>
        <script>
            $("ul.nav-tabs a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiLaYpd0zx4HfjULaOVcgxVpQMuKNmD04&callback=initMap">
        </script>
        <script>
            var map;
            var location;
            var addListe;
            var marker;
            var geocoder;
            var latLng, xyKoorLat, xyKoorLng;

            function sleep(milliseconds){
                var start = new Date().getTime();
                for (var i=0; i<1e7; i++){
                    if ((new Date().getTime() - start) > milliseconds){
                        break;
                    }
                }
            }
            function initMap() {
                initMapTahmin();
            }
            

            function initMapTahmin() {
                mapTahmin = new google.maps.Map(document.getElementById('mapTahmin'), {
                    center: new google.maps.LatLng(41.0082, 28.9784),
                    zoom: 11,
                    mapTypeId: 'terrain',
                    disableDoubleClickZoom: true,
                });

                mapTumGun = new google.maps.Map(document.getElementById('mapStandart'), {
                    center: new google.maps.LatLng(41.0082, 28.9784),
                    zoom: 11,
                    mapTypeId: 'terrain',
                    disableDoubleClickZoom: true,
                });

                mapAylik = new google.maps.Map(document.getElementById('mapAylik'), {
                    center: new google.maps.LatLng(41.0082, 28.9784),
                    zoom: 11,
                    mapTypeId: 'terrain',
                    disableDoubleClickZoom: true,
                });

                mapHava = new google.maps.Map(document.getElementById('mapHava'), {
                    center: new google.maps.LatLng(41.0082, 28.9784),
                    zoom: 11,
                    mapTypeId: 'terrain',
                    disableDoubleClickZoom: true,
                });

                geocoder = new google.maps.Geocoder;
                latLng = new google.maps.LatLng(41.0082, 28.9784);
                markerTahmin = new google.maps.Marker({
                    map: mapTahmin,
                });

                google.maps.event.addListener(mapTahmin, 'click', function(e) {
                    if(marker != null){
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        position: e.latLng,
                        map: mapTahmin
                    });
                    xyKoorLat = e.latLng.lat();
                    xyKoorLng = e.latLng.lng();
                    document.getElementById("latTahmin").value = xyKoorLat;
                    document.getElementById("lngTahmin").value = xyKoorLng;
                });

                google.maps.event.addListener(mapTumGun, 'click', function(e) {
                    if(marker != null){
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        position: e.latLng,
                        map: mapTumGun
                    });
                    xyKoorLat = e.latLng.lat();
                    xyKoorLng = e.latLng.lng();
                    document.getElementById("lat").value = xyKoorLat;
                    document.getElementById("lng").value = xyKoorLng;
                });

                google.maps.event.addListener(mapAylik, 'click', function(e) {
                    if(marker != null){
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        position: e.latLng,
                        map: mapAylik
                    });
                    xyKoorLat = e.latLng.lat();
                    xyKoorLng = e.latLng.lng();
                    document.getElementById("latAylik").value = xyKoorLat;
                    document.getElementById("lngAylik").value = xyKoorLng;
                    /* tiklanan veri django kismina yollandi */
                    $.ajax({
                        type:"POST",
                        url:"/analiz/aylikOrtKoorGonder/",
                        data: {
                            "data": xyKoorLat+','+ xyKoorLng+','+$("#vSegDirAylik").val()
                        },
                        success: function(data){
                            console.log("gonderdi: "+ data);
                        }
                    });

                    sleep(2000);

                    /* djangodan gelen veri */
                    $.ajax({
                        type:"GET",
                        url:"/analiz/aylikOrtAlertAl/",
                        /*data: {
                            "data": $("#HavaDurumuSemt").val()
                        },*/
                        success: function(data){
                            console.log("mesela: "+data);
                            var buton = document.getElementById('buttonSuccessAylik');
                            if ( data=="error" ){
                                alert("Girilen bilgilere uygun yeterli veri bulunamadı");
                                buton.value = ':)';
                                buton.disabled = true;
                            }
                            else{
                                buton.value = 'Onayla';
                                buton.disabled = false;
                            }
                        }
                    });
                });

                geocoder = new google.maps.Geocoder;
                latLng = new google.maps.LatLng(41.0082, 28.9784);
                markerHava = new google.maps.Marker({
                    map: mapHava,
                });

                google.maps.event.addListener(mapHava, 'click', function(e) {
                    if(marker != null){
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        position: e.latLng,
                        map: mapHava
                    });
                    xyKoorLat = e.latLng.lat();
                    xyKoorLng = e.latLng.lng();
                    document.getElementById("latHava").value = xyKoorLat;
                    document.getElementById("lngHava").value = xyKoorLng;
                    /* tiklanan veri django kismina yollandi */
                    $.ajax({
                        type:"POST",
                        url:"/analiz/djangoyaGonder/",
                        data: {
                            "data": xyKoorLat+','+ xyKoorLng
                        },
                        success: function(data){
                            console.log("gonderdi: "+ data);
                        }
                    });

                    sleep(2000);

                    /* djangodan gelen veri */
                    $.ajax({
                        type:"GET",
                        url:"/analiz/djangodanAl/",
                        /*data: {
                            "data": $("#HavaDurumuSemt").val()
                        },*/
                        success: function(data){
                            console.log("mesela: "+data);
                            for (i=0; i<data.length; i++){
                                var tarih = data[i];
                                eventDates[ new Date( tarih )] = new Date( tarih ).toString();
                            }
                        }
                    });
                });
            }

        </script>
        <script type="text/javascript">
            var eventDates = {};
            var i=0;
            $(function () {
                $('#datepicker1').datepicker({
                    dateFormat: 'dd/mm/yy',
                    today: 'Bugün',
                    monthNames: [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ],
                    dayNamesMin: [ "Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Ct" ],
                });
                $('#datepicker1').datepicker('setDate', new Date(2017,04,03) );
            });
            $(function () {
                $('#datetimepicker7').datetimepicker({
                    format: 'HH:mm'
                });
            });
            $(function () {
                $('#datetimepicker8').datetimepicker({
                    format: 'HH:mm'
                });
            });
            $(function () {
                $('#datepicker7').datepicker({ 
                    dateFormat: 'dd/mm/yy',
                    today: 'Bugün',
                    monthNames: [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ],
                    dayNamesMin: [ "Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Ct" ],
                });
                $('#datepicker7').datepicker('setDate', new Date(2017,04,03) );
            });
            $(function () {
                /*var eventDates = {};
                {% for yagmurluGun in yagmurlularList %}
                    eventDates[ new Date('{{ yagmurluGun }}') ] = new Date('{{ yagmurluGun }}').toString();
                {% endfor %}*/
                //eventDates[ new Date( '10/02/2017' )] = new Date( '10/02/2017' ).toString();
                //eventDates[ new Date( '06/12/2017' )] = new Date( '06/12/2017' ).toString();
                //eventDates[ new Date( '10/12/2017' )] = new Date( '10/12/2017' ).toString();
                //eventDates[ new Date( '11/12/2017' )] = new Date( '11/12/2017' ).toString();
                $('#datepickerHavaDurumu1').datepicker({ 
                    dateFormat: 'dd/mm/yy',
                    today: 'Bugün',
                    monthNames: [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ],
                    dayNamesMin: [ "Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Ct" ],
                    beforeShowDay: function(date) {
                        var highlight = eventDates[date];
                        if (highlight) {
                             return [true, "event1", highlight];
                        } else {
                             return [true, '', ''];
                        }
                    }
                });
                $('#datepickerHavaDurumu1').datepicker('setDate', new Date(2017,04,03) );
            });
            $(function () {
                /*var eventDates = {};
                {% for yagmurluGun in yagmurlularList %}
                    eventDates[ new Date('{{ yagmurluGun }}') ] = new Date('{{ yagmurluGun }}').toString();
                {% endfor %}
                */
                //eventDates[ new Date( '10/02/2017' )] = new Date( '10/02/2017' ).toString();
                //eventDates[ new Date( '06/12/2017' )] = new Date( '06/12/2017' ).toString();
                //eventDates[ new Date( '10/12/2017' )] = new Date( '10/12/2017' ).toString();
                //eventDates[ new Date( '11/12/2017' )] = new Date( '11/12/2017' ).toString();
                $('#datepickerHavaDurumu2').datepicker({ 
                    dateFormat: 'dd/mm/yy',
                    today: 'Bugün',
                    monthNames: [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ],
                    dayNamesMin: [ "Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Ct" ],
                    beforeShowDay: function(date) {
                        var highlight = eventDates[date];
                        if (highlight) {
                             return [true, "event2", highlight];
                        } else {
                             return [true, '', ''];
                        }
                    }
                 });
                $('#datepickerHavaDurumu2').datepicker('setDate', new Date(2017,04,03) );
            });
            $(function () {
                $('#datetimepicker9').datetimepicker({
                    format: 'HH:mm'
                });
            });
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'HH:mm'
                });
            });
            $(function () {
                $('#datepicker6').datepicker({ 
                dateFormat: 'dd/mm/yy',
                today: 'Bugün',
                monthNames: [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ],
                dayNamesMin: [ "Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Ct" ], 
                });
                $('#datepicker6').datepicker('setDate', new Date(2017,04,03) );
            });
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    format: 'HH:mm'
                });
            });
            $(function () {
                $('#datetimepicker6').datetimepicker({
                    format: 'HH:mm'
                });
            });
            $(function () {
                var eventDates = {};
                {% for yagmurluGun in yagmurluList %}
                    eventDates[ new Date('{{ yagmurluGun }}') ] = new Date('{{ yagmurluGun }}').toString();
                {% endfor %}
                //eventDates[ new Date( '10/02/2017' )] = new Date( '10/02/2017' ).toString();
                //eventDates[ new Date( '06/12/2017' )] = new Date( '06/12/2017' ).toString();
                //eventDates[ new Date( '10/12/2017' )] = new Date( '10/12/2017' ).toString();
                //eventDates[ new Date( '11/12/2017' )] = new Date( '11/12/2017' ).toString();
                $('#datepicker5').datepicker({ 
                    dateFormat: 'dd/mm/yy',
                    today: 'Bugün',
                    monthNames: [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ],
                    dayNamesMin: [ "Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Ct" ],
                    beforeShowDay: function(date) {
                        var highlight = eventDates[date];
                        if (highlight) {
                             return [true, "event", highlight];
                        } else {
                             return [true, '', ''];
                        }
                    }
                });
                $('#datepicker5').datepicker('setDate', new Date(2017,04,03) );
            });
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    format: 'HH:mm'
                })
            })
            $(document).ready(function(){
                $('.hava-DurumuSemt').on('£', function(){
                    var semt = $(this).val();
                    console.log(semt);
                    if(semt){
                        console.log(semt);
                        /* tiklanan veri django kismina yollandi */
                        $.ajax({
                            type:"POST",
                            url:"/analiz/djangoyaGonder/",
                            data: {
                                "data": $(".hava-DurumuSemt").val()
                            },
                            success: function(data){
                                console.log("gonderdi: "+ semt);
                            }
                        });

                        /* djangodan gelen veri */
                        $.ajax({
                            type:"GET",
                            url:"/analiz/djangodanAl/",
                            /*data: {
                                "data": $("#HavaDurumuSemt").val()
                            },*/
                            success: function(data){
                                for (i=0; i<data.length; i++){
                                    var tarih = data[i];
                                    eventDates[ new Date( tarih )] = new Date( tarih ).toString();
                                }
                            }
                        });
                    }
                });
                // CSRF code
                function getCookie(name) {
                    var cookieValue = null;
                    var i = 0;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (i; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    crossDomain: false, // obviates need for sameOrigin test
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                }); 
            });

            $(document).ready(function(){
                $(document).on('click', '.buttonSuccessHava', function(){
                    var buttonSuccess = $(this).val();
                    var loader;
                    let timerInterval
                    Swal.fire({
                      title: 'Lütfen Bekleyin',
                      timer: 6000,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                          Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                        }, 100)
                      },
                      onClose: () => {
                        clearInterval(timerInterval)
                      }
                    }).then((result) => {
                      if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.timer
                      ) {
                        console.log('I was closed by the timer')
                      }
                    })
                    //$("#loader").toggle();
                    //$(div).toggle();
                    if(buttonSuccess){
                        //alert("gondermeden onceki: "+buttonSuccess);
                        /* tiklanan veri django kismina yollandi */
                        $.ajax({
                            type:"POST",
                            url:"/analiz/djangoyaGonderHavaDurumu/",
                            data: {
                                "data": buttonSuccess
                            },
                            success: function(data){
                                alert("gonderdi: "+ buttonSuccess+ " "+ data);
                            }
                        });


                        /* djangodan gelen veri */
                        $.get("/analiz/djangodanAlHavaDurumu/", function(data){
                            alert(data);
                        });
                    }
                });

                

                $(document).on('click', '.buttonSuccessAylik', function(){
                    var buttonSuccess = $(this).val();
                    var loader;
                    let timerInterval
                    Swal.fire({
                      title: 'Lütfen Bekleyin',
                      timer: 100000,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                          Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                        }, 100)
                      },
                      onClose: () => {
                        clearInterval(timerInterval)
                      }
                    }).then((result) => {
                      if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.timer
                      ) {
                        console.log('I was closed by the timer')
                      }
                    })
                    //$("#loader").toggle();
                    //$(div).toggle();
                    if(buttonSuccess){
                        //alert("gondermeden onceki: "+buttonSuccess);
                        /* tiklanan veri django kismina yollandi */
                        $.ajax({
                            type:"POST",
                            url:"/analiz/djangoyaGonderHavaDurumu/",
                            data: {
                                "data": buttonSuccess
                            },
                            success: function(data){
                                alert("gonderdi: "+ buttonSuccess+ " "+ data);
                            }
                        });


                        /* djangodan gelen veri */
                        $.get("/analiz/djangodanAlHavaDurumu/", function(data){
                            alert(data);
                        });
                    }
                });

                $(document).on('click', '.buttonSuccessKritik', function(){
                    var buttonSuccess = $(this).val();
                    var loader;
                    let timerInterval
                    Swal.fire({
                      title: 'Lütfen Bekleyin',
                      timer: 100000,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                          Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                        }, 100)
                      },
                      onClose: () => {
                        clearInterval(timerInterval)
                      }
                    }).then((result) => {
                      if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.timer
                      ) {
                        console.log('I was closed by the timer')
                      }
                    })
                    //$("#loader").toggle();
                    //$(div).toggle();
                    if(buttonSuccess){
                        //alert("gondermeden onceki: "+buttonSuccess);
                        /* tiklanan veri django kismina yollandi */
                        $.ajax({
                            type:"POST",
                            url:"/analiz/djangoyaGonderHavaDurumu/",
                            data: {
                                "data": buttonSuccess
                            },
                            success: function(data){
                                alert("gonderdi: "+ buttonSuccess+ " "+ data);
                            }
                        });


                        /* djangodan gelen veri */
                        $.get("/analiz/djangodanAlHavaDurumu/", function(data){
                            alert(data);
                        });
                    }
                });
                // CSRF code
                function getCookie(name) {
                    var cookieValue = null;
                    var i = 0;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (i; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    crossDomain: false, // obviates need for sameOrigin test
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                }); 
            });

            $(document).ready(function(){
                $(document).on('click', '.buttonSuccessRenkli', function(){
                    var buttonSuccess = $(this).val();
                    var loader;
                    let timerInterval
                    Swal.fire({
                      title: 'Lütfen Bekleyin',
                      timer: 6000,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                          Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                        }, 100)
                      },
                      onClose: () => {
                        clearInterval(timerInterval)
                      }
                    }).then((result) => {
                      if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.timer
                      ) {
                        console.log('I was closed by the timer')
                      }
                    })
                    //$("#loader").toggle();
                    //$(div).toggle();
                    if(buttonSuccess){
                        //alert("gondermeden onceki: "+buttonSuccess);
                        /* tiklanan veri django kismina yollandi */
                        $.ajax({
                            type:"POST",
                            url:"/analiz/djangoyaGonderHavaDurumu/",
                            data: {
                                "data": buttonSuccess
                            },
                            success: function(data){
                                alert("gonderdi: "+ buttonSuccess+ " "+ data);
                            }
                        });


                        /* djangodan gelen veri */
                        $.ajax({
                            type:"GET",
                            url:"/analiz/djangodanAlRenkli/",
                            data: {
                                "data": buttonSuccess
                            },
                            success: function(data){
                                alert("aldı: "+ data);
                            }
                        });
                    }
                });
                // CSRF code
                function getCookie(name) {
                    var cookieValue = null;
                    var i = 0;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (i; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    crossDomain: false, // obviates need for sameOrigin test
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                }); 
            });

            /*
            class window.LoadingSpinner {
              
              constructor: ($container, options) ->
                
                defaults = {
                  fadeDuration: 300
                }
                
                @options = $.extend(defaults, options)
                
                
                @$spinner = $("<div>").addClass("loadingSpinner")
                $container.append(@$spinner)
                @$spinner.hide().fadeIn(@options.fadeDuration)
              
              
              destroy: ->
                
                @$spinner.fadeOut(@options.fadeDuration, =>
                  @$spinner.remove()
                  @$spinner = null
                )
            }*/





            /*class window.SpinnerButton{
              
              constructor: (@$button, @clickCallback, options) ->
                
                defaults = {
                  buttonContentTag: "span",
                  fadeDuration: 300,
                  classDuringLoading: "spinning"
                }
                
                @options = $.extend(defaults, options)
                
                if @$button.children().length == 1
                  @$childContent = $(@$button.children()[0])
                else
                  
                  @$childContent = $("<#{@options.buttonContentTag}>")
                  
                  if @$button.children().length > 1
                    @$childContent.append(@$button.children())
                  else
                    @$childContent.text(@$button.text())
                    @$button.text("")
                  
                  @$button.append(@$childContent)
                
                if @clickCallback? then @$button.click(( => @handleClick() ))
              
              
              handleClick: ->

                @start()
                
                if @clickCallback? then @clickCallback() else return true
              
              
              start: ->
                
                
                @$button.addClass(@options.classDuringLoading)
                @$childContent.animate({opacity: 0}, @options.fadeDuration)
                @spinner = new LoadingSpinner(@$button, { fadeDuration: @options.fadeDuration })
                
                @$button.prop("disabled", "true")
              
              
              stop: ->
                
                @$childContent.animate({opacity: 1}, @options.fadeDuration)
                @spinner.destroy()
                @spinner = null
                
                @$button.prop("disabled", "")
                @$button.removeClass(@options.classDuringLoading)
            }





            $(document).ready( ->
              
              spinnerButton = new SpinnerButton($(".buttonSuccessHava"), ->
                
                
                setTimeout( ->
                  spinnerButton.stop()
                , 1000)
              )
            );
            */





        </script>

        <div class="loader" id="loader" style="display:none;">Loading...</div>
        

        <div id="exTab1" class="container">

        <!-- <div class="enDis"> -->

            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#analiz">Analiz</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tahmin">Tahmin</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="analiz">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a data-toggle="tab" href="#tumGun">Günlük Analiz</a>
                        </li>
                        
                            <!--<li>
                                <a data-toggle="tab" href="#belirliSaat">Belirli Saat</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#belirliAralik">Belirli Aralik</a>
                            </li>-->
                        
                        <li>
                            <a data-toggle="tab" href="#standartSapma">Kritik Noktalar</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#yollariRenklendir">Renkli Yollar</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#aylikGrafik">Aylık Ort</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#havaDurumuEtkisi">Hava Durumu Etkisi</a>
                        </li>
                    </ul>
                    <div class="tab-content">

<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane fade active in" id="tumGun" name="tumGun">
                            
                            
                            <form action="analiz/grafikler/" method="POST">
                                {%  csrf_token %}
                                <fieldset>

                                    <div id="mapStandart" class="map"></div>


                                    <!-- src asc buradaydi -->


                                    <div class="row" id="tarihRow" name="tarihRow">
                                        <div class="col-md-2">
                                            <label for="formvSegDirTumGun">Sensör Yönü</label>
                                            <select class="form-control" name="vSegDirTumGun" id="vSegDirTumGun">
                                                <option>0</option>
                                                <option>1</option>
                                            </select>
                                                <br>
                                            <label for="yokBegenGecTarih">Tarih</label>
                                                <input type="text" class="form-control" name = 'datepicker1' id="datepicker1">
                                        </div>

                                        <div class="col-md-2">
                                            <label>Başlangıç Saat</label>
                                                <div class='input-group date' id='datetimepicker7' name="datetimepicker7">
                                                    <input type='text' class="form-control"  id='datetimepicker7' name="datetimepicker7"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>
                                                <br>
                                            <label>Bitiş Saati</label>
                                                <div class="input-group date" id="datetimepicker8" name="datetimepicker8">
                                                    <input type="text" class="form-control"  id='datetimepicker8' name="datetimepicker8">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="col-md-2">
                                            <br>
                                            <label for="forKTumGun">Regresyon Hafta Sayısı</label>
                                            <select class="form-control" name="KTumGun" id="KTumGun">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                                
                                        </div>
                                    </div>
                                    


                                    <input type="text" id="lat" name="lat" >
                                    <input type="text" id="lng" name="lng" >

                                    <input class="button-success" type="submit" value="Onayla" />
                                    <input class="form" type="reset" value="Formu Sıfırla"/>
                                </fieldset>
                            </form>
                        </div>

<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane fade" id="belirliSaat">
                            <form action="analiz/grafikler/" method="POST">
                                {%  csrf_token %}
                                <fieldset>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="formvSegIDBelirliSaat">Sensör Numarası</label>
                                                <input type="text" class="form-control" name="vSegIDBelirliSaat" id="vSegIDBelirliSaat" placeholder="numeric">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="formvSegDirBelirliSaat">Sensör Yönü</label>
                                                <select class="form-control" name="vSegDirBelirliSaat" id="vSegDirBelirliSaat">
                                                    <option>0</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br></br>


                                        <div class="row">
                                            <div class='col-sm-3'>
                                                <div class="form-group">
                                                    <label>Başlangıç Saat</label>
                                                    <div class='input-group date' id='datetimepicker3'>
                                                        <input type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Bitiş Saati</label>
                                                    <div class="input-group date" id="datetimepicker4">
                                                        <input type="text" class="form-control">
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row" id="belirliSaatRow">
                                            <input class="button-success" type="submit" id="belirliSaatOnayla" value="Onayla"/>
                                            <input class="form" type="reset" id="belirliSaatReset" value="Formu Sıfırla"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane fade" id="belirliAralik">
                            <p>Belirli Aralik</p>
                        </div>

<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane fade" id="standartSapma">
                            <form action="stdevi/harita/" method="POST">
                                {%  csrf_token %}
                                <fieldset>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="formvSegDirStandartSapma">Sensör Yönü</label>
                                            <select class="form-control" name="vSegDirStandartSapma" id="vSegDirStandartSapma">
                                                <option>0</option>
                                                <option>1</option>
                                            </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="labelStandartSapmaTime">Tarih:</label>
                                                    <input type="text" class="form-control" name="datepicker5" id="datepicker5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="belirliSaatRow">
                                            <input class="buttonSuccessKritik" type="submit" id="belirliSaatOnayla" value="Onayla"/>
                                            <input class="form" type="reset" id="belirliSaatReset" value="Formu Sıfırla"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane fade" id="aylikGrafik" name="aylikGrafik">
                            
                                <form action="analiz/aylikGrafik/"  method="POST">
                                    {%  csrf_token %}
                                    <fieldset>

                                        

                                        <div id="mapAylik" class="map"></div>

                                        <div class="row" id="tarihRowAylik" name="tarihRowAylik">
                                            <div class="col-md-2">
                                                <label for="formvSegDirAylik">Sensör Yönü</label>
                                                <select class="form-control" name="vSegDirAylik" id="vSegDirAylik">
                                                    <option>0</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                        </div>

                                        <input type="text" id="latAylik" name="latAylik" >
                                        <input type="text" id="lngAylik" name="lngAylik" >

                                        <input class="buttonSuccessAylik" id="buttonSuccessAylik" name="buttonSuccessAylik" type="submit" value="Onayla" />
                                        <input class="form" type="reset" value="Formu Sıfırla"/>
                                    </fieldset>
                                </form>


                        </div>


<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane fade" id="havaDurumuEtkisi" name="havaDurumuEtkisi">                            
                            <form action="analiz/havaDurumuEtkisi/" method="POST">
                                {%  csrf_token %}
                                <fieldset>
                                    <div id="mapHava" class="map"></div>
                                    <input type="text" id="latHava" name="latHava" >
                                    <input type="text" id="lngHava" name="lngHava" >

                                    <div class="col-md-3">
                                        <br>
                                        <label for="labelHavaDurumuTime1">İlk Tarih:</label>
                                        <input type="text" class="form-control" name="datepickerHavaDurumu1" id="datepickerHavaDurumu1">
                                    </div>

                                    <div class="col-md-3">
                                        <br>
                                        <label for="labelHavaDurumuTime2">İkinci Tarih:</label>
                                        <input type="text" class="form-control" name="datepickerHavaDurumu2" id="datepickerHavaDurumu2">
                                    </div>

                                    <div class="col-md-3">
                                        <br>
                                        <label for="labelHavaDurumuvSegDir">Sensör Yönü:</label><br>
                                        <select class="btn hava-DurumuSemtvSegDir" name="HavaDurumuvSegDir" id="HavaDurumuvSegDir">
                                            <option>0</option>
                                            <option>1</option>
                                        </select>
                                    </div>
                                    <br><br><br><br><br><br><br><br><br><br><br><br>
                                    <div class="col-md-3">
                                        <input class="buttonSuccessHava" type="submit" value="Onayla" />
                                        <input class="form" type="reset" value="Formu Sıfırla"/>
                                    </div>
                                </fieldset>
                            </form>
                        </div>


<!-- --------------------------------------------------------------------------------------------------------------- -->

                        <div class="tab-pane" id="yollariRenklendir">
                            <form action="analiz/renkliHarita/" method="POST">
                                {%  csrf_token %}
                                <fieldset>
                                    <div class="container">
                                        <br><br>
                                        <div class="row">
                                            <div class='col-sm-3'>
                                                <div class="form-group">
                                                    <label>Başlangıç Saat</label>
                                                    <div class='input-group date' id='datetimepicker5' name="datetimepicker5">
                                                        <input type='text' class="form-control"  id='datetimepicker5' name="datetimepicker5"/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Bitiş Saati</label>
                                                    <div class="input-group date" id="datetimepicker6" name="datetimepicker6">
                                                        <input type="text" class="form-control"  id='datetimepicker6' name="datetimepicker6">
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" id="renklendirRow">
                                            <br>
                                            
                                            
                                            <div class="col-md-3">
                                                <label for="formvSegDirRenkliHarita">Sensör Yönü</label>
                                                <select class="form-control" name="vSegDirRenkliHarita" id="vSegDirRenkliHarita">
                                                    <option>0</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="labelStandartSapmaTime">Tarih:</label>
                                                    <input type="text" class="form-control" name="datepicker6" id="datepicker6">
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <br>
                                       
                                        

                                        <div class="row">
                                            <input class="buttonSuccessRenkli" type="submit" id="renklendirOnayla" value="Onayla"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

<!-- --------------------------------------------------------------------------------------------------------------- -->

                <div class="tab-pane fade" id="tahmin">
                    <br><br>
                    <form action="tahmin/tahminiYol/" method="POST">
                        {%  csrf_token %}
                        <fieldset>

                            <div id="mapTahmin" class="map"></div>

                            <div class="row" id="tarihRowTahmin" name="tarihRowTahmin">
                                <div class="col-md-2">
                                    <label for="formvSegDirTahmin">Sensör Yönü</label>
                                        <select class="form-control" name="vSegDirTahmin" id="vSegDirTahmin">
                                            <option>0</option>
                                            <option>1</option>
                                        </select>
                                        <br>
                                    <label for="yokBegenGecTarihTahmin">Tarih</label>
                                        <input type="text" class="form-control" name = 'datepicker7' id="datepicker7">
                                </div>

                                <div class="col-md-2">
                                    <label>Tahmin Edilecek Saat</label>
                                        <div class='input-group date' id='datetimepicker9' name="datetimepicker9">
                                            <input type='text' class="form-control"  id='datetimepicker9' name="datetimepicker9"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                        <br>
                                </div>
                                <div class="col-md-2">
                                    <br>
                                    <label for="forKTahmin">Regresyon Hafta Sayısı</label>
                                        <input type="text" class="form-control" name="KTahmin" id="KTahmin" placeholder="K">
                                </div>
                            </div>

                            <input type="text" id="latTahmin" name="latTahmin" >
                            <input type="text" id="lngTahmin" name="lngTahmin" >
                            <br>
                            <input class="button-success" type="submit" value="Onayla" />
                            <input class="form" type="reset" value="Formu Sıfırla"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>