{% load static %}

{# Ana sayfa #}

<!doctype html>
<html>
    <head>
         <title>Trafik Nerede</title>
         <script src="{% static 'JS/jquery-3.3.1.js' %}"></script>
		 <link rel="stylesheet" href="{% static 'CSS/dizayn_home2.css' %}">
		 <link rel="icon" href="{% static 'ICO/if_traffic-light_27268.ico' %}" type="image/x-icon"/>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    </head>
	<body>
		<button class="sec2" type="submit" onClick="location.href='analiz'"
		value="Submit"><img src="{% static 'ICO/if_chart_514935.ico' %}" width="30%" height=30% alt=""/><b><font size="4">Analiz</font></b></button>
		<button class="sec3" type="submit" onClick="location.href='tahmin'"
		value="Submit"><img src="{% static 'ICO/if_Research-magnify-graph-report-analysis_2992652.ico' %}" width="30%" height="25%" alt=""/><b><font size="4">Tahmin</font></b></button>
		<button class="sec4" type="submit" onClick="location.href='stdevi'"
		value="Submit"><img src="{% static 'ICO/standart-Sapma.ico' %}" width="30%" height=30% alt=""/><b><font size="4">Standart Sapma</font></b></button><br/><br/>


		<!-- Centered Tabs -->
		<ul class="nav nav-pills nav-justified">
		  <li class="active"><a data-toggle="tab" href="#analiz">Analiz</a></li>
		  <li><a data-toggle="tab" href="#tahmin">Tahmin</a></li>
		</ul>

		<div class="tab-content">
		  <div id="analiz" class="tab-pane fade in active">
		  	<br/><br/>
		  	<ul class="nav nav-pills nav-justified">
			  <li class="active"><a data-toggle="tab" href="#tumGun">Tüm Gün</a></li>
			  <li><a data-toggle="tab" href="#belirliSaat">Belirli Saat</a></li>
			  <li><a data-toggle="tab" href="#belirliAralik">Belirli Aralık</a></li>
			  <li><a data-toggle="tab" href="#standartSapma">Standart Sapma</a></li>
			</ul>
		    <h3>ANALİZ</h3>
		    <p>Some content.</p>
		  </div>
		  <div id="tahmin" class="tab-pane fade">
		    <h3>Menu 1</h3>
		    <p>Some content in menu 1.</p>
		  </div>
		</div>

<!-- Centered Pills -->
<!--
	<ul class="nav nav-pills nav-justified">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Menu 1</a></li>
	  <li><a href="#">Menu 2</a></li>
	  <li><a href="#">Menu 3</a></li>
</ul>
-->

	</body>

</html>